<?xml version="1.0" encoding="UTF-8"?>
<panorama>
    <image>
        <level tiledimagewidth="3708" tiledimageheight="3708">
            <image><![CDATA[tiles/node1/cf_%c/l_%l/c_%x/tile_%y.jpg]]></image>
        </level>
    </image>
    <viewer>
        <title>Honda City 2024 Interior 360°</title>
    </viewer>
</panorama>